In [4]:
# importing libraries 
import pandas as pd 
import glob 
import os

In [12]:
# merging the files 
joined_files = os.path.join("Resources", "*.csv") 
  
# A list of all joined files is returned 
joined_list = glob.glob(joined_files) 
  
# Finally, the files are joined 
combined_df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True) 
combined_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0905B18B365C9D20,classic_bike,2023-01-28 09:18:10,2023-01-28 09:28:52,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735938,-74.030305,40.727596,-74.044247,member
1,B4F0562B05CB5404,electric_bike,2023-01-23 20:10:12,2023-01-23 20:18:27,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Southwest Park - Jackson St & Observer Hwy,HB401,40.735938,-74.030305,40.737551,-74.041664,member
2,5ABF032895F5D87E,classic_bike,2023-01-29 15:27:04,2023-01-29 15:32:38,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Marshall St & 2 St,HB408,40.735944,-74.030383,40.740802,-74.042521,member
3,E7E1F9C53976D2F9,classic_bike,2023-01-24 18:35:08,2023-01-24 18:42:13,Hoboken Terminal - Hudson St & Hudson Pl,HB101,Hamilton Park,JC009,40.735986,-74.030364,40.727596,-74.044247,member
4,323165780CA0734B,classic_bike,2023-01-21 20:44:09,2023-01-21 20:48:08,Hamilton Park,JC009,Manila & 1st,JC082,40.727596,-74.044247,40.721651,-74.042884,member

In [13]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988851 entries, 0 to 988850
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             988851 non-null  object
 1   rideable_type       988851 non-null  object
 2   started_at          988851 non-null  object
 3   ended_at            988851 non-null  object
 4   start_station_name  988766 non-null  object
 5   start_station_id    988766 non-null  object
 6   end_station_name    985532 non-null  object
 7   end_station_id      985532 non-null  object
 8   start_lat           988851 non-null  float64
 9   start_lng           988851 non-null  float64
 10  end_lat             987897 non-null  float64
 11  end_lng             987897 non-null  float64
 12  member_casual       988851 non-null  object
dtypes: float64(4), object(9)
memory usage: 98.1+ MB